<h1>All Books</h1>
<% @books.each do |book| %>

  <%= link_to book.title, books_show_path(book) %>

  Storage Type: <%= book.location.storage_type %><br>
<% end %>
<br>
<hr>
<%= link_to "Add A Book To The Bookstore", books_new_path %>
