<div class="container">
    <h1>All Books</h1>
    <% @books.each do |book| %>
      Title: <%= link_to book.title, book_path(book) %> | Location: <%= Location.find(book.location_id).storage_type %><br>
    <% end %>

    <br>
    <hr>
    <button type="button" class="btn btn-secondary"><%= link_to "Add A Book To The Bookstore", new_book_path %></button>
</div>
