<div class="container">
  <%= render 'layouts/navbar' %>
  <h1>Welcome To Nicole's Bookstore</h1>
  <h2>Inventory</h2>
  <% Location.all.each do |location| %>
    <h3><%= link_to location.name, location_path(location) %></h3><br>
    <% location.books.each do |book| %>
      <%= link_to book.title, book_path(book) %><br>
    <% end %>
  <% end %>

</div>
