<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul>
        <li style="display: inline"><%= link_to "Inventory", root_path %></li>
        <li style="display: inline"><%= link_to "Add A Book", new_book_path %></li>
      </ul>
    </nav>
  </div>
</header>
